<div class="container">
  <h1>Tasks</h1>
  <div class="cards">
    <% @tasks.each do |task| %>
      <div class="d-flex align-items-center gap-3">
      <h4>

        <% if task.completed? %>
        <i class="fa-regular fa-square-check"></i>
        <% else %>
        <i class="fa-regular fa-square"></i>
        <% end %>

        <%= link_to task.title, task_path(task), class:"text-decoration-none" %></h4>
        <%= link_to task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <i class="fa-regular fa-trash-can"></i>
        <% end %>
        </div>
    <% end %>

    <%= link_to new_path, class: "btn btn-primary" do %>
    <i class="fa-solid fa-plus"></i> <span>Add item list</span>
    <% end %>
  </div>
</div>
